In [95]:
# pip install numpy

In [96]:
# pip install pandas

In [1]:
import numpy as np
import pandas as pd

In [98]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [99]:
movies.head(1).values

array([[237000000,
        '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]',
        'http://www.avatarmovie.com/', 19995,
        '[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]',
        'en', 'Avatar',
        'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.',
        150.437577,
        '[{"name": "Ingenious Film Partners", "id": 289}, {"name": "Twentieth Century Fox Film Corporation", "id": 306}, {"name": "Dune Entertainment", "id": 444}, {"name": "Lightstorm Entertainment", "id": 574}]',
        '[{"iso_3166_1": "US", "name": "United States of America"}, {"iso_3166_1": "GB", "name": "United Kingdom"}]',
        '2009-12-10', 2787965087, 162.0,
        '[{"iso_639_1": "en", "name": "English"}, {"iso_639_1": "es", "name": "Espa\\u00f1ol"}]',
        'Released', 'Enter the World of Pandora.', 'Avatar', 7.2, 11800]],
      dtype=object)

In [100]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [101]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

### Merging the credits and movies on the basis of title merge matlab jodna hai dono ko

In [102]:
movies1 = movies.merge(credits,on='title')

In [103]:
movies.shape

(4803, 20)

In [104]:
movies1.shape

(4809, 23)

In [105]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [106]:
'''movies column which we sustain'''
# genres
# id
# keyword
# title
# overview
#

'movies column which we sustain'

In [107]:
movies1.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [108]:
movies2 = movies1[['movie_id','title','overview','genres','keywords','cast','crew']]

In [109]:
movies2.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [110]:
movies2.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

### drop null value

In [111]:
movies2.dropna(inplace=True)

C:\Users\Ritik\AppData\Local\Temp\ipykernel_3644\1086494720.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies2.dropna(inplace=True)

In [112]:
movies2.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [113]:
movies2.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [114]:
movies2.duplicated().sum() #checking the duplicate columns

0

In [115]:
movies2.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [116]:
movies2.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [117]:
'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
'[Action,Adventure,Fantasy,SciFiction]'

'[Action,Adventure,Fantasy,SciFiction]'

In [119]:
import ast
ast.literal_eval

In [120]:

def convert(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i['name'])
        return l

In [121]:
movies2['genres']=movies2['genres'].apply(convert)

C:\Users\Ritik\AppData\Local\Temp\ipykernel_3644\1039517325.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies2['genres']=movies2['genres'].apply(convert)

In [122]:
movies2.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",[Action],"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",[Adventure],"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [123]:
movies2['keywords'] = movies2['keywords'].apply(convert)

C:\Users\Ritik\AppData\Local\Temp\ipykernel_3644\1830376068.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies2['keywords'] = movies2['keywords'].apply(convert)

In [124]:
movies2.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",[Action],[culture clash],"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",[Adventure],[ocean],"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [ ]:
movies2.cast[0]

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [126]:
movies2.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",[Action],[culture clash],"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",[Adventure],[ocean],"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

#### iss function se only three cast name aa jayega

In [125]:

def convert3(obj):
    l=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter != 3:
            l.append(i['name'])
        else:
            break
    return l

In [127]:
movies2['cast'] = movies2['cast'].apply(convert3)

C:\Users\Ritik\AppData\Local\Temp\ipykernel_3644\2579222004.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies2['cast'] = movies2['cast'].apply(convert3)

In [133]:
movies2.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",[Action],[culture clash],"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",[Adventure],[ocean],"[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

### saving as csv file

In [134]:
movies2.to_csv('movies2.csv',index=True)

In [2]:
import numpy as np
import pandas as pd
import ast
ast.literal_eval

In [3]:
movies_new = pd.read_csv('movies2.csv')

In [4]:
movies2.head(2)

NameError: name 'movies2' is not defined

In [5]:
import ast

# Assuming 'movies_new' DataFrame has 'keywords' column where values are stored as string representations of lists

# Example:
# movies_new = pd.DataFrame({'keywords': ["['Adventure', 'Action']", "['Drama', 'Romance']"]})

# Convert string representations to actual lists
movies_new['keywords'] = movies_new['keywords'].apply(ast.literal_eval)

ValueError: malformed node or string: nan

In [7]:
import ast

# Custom function to safely convert string representations to actual lists
def safe_literal_eval(x):
    try:
        return ast.literal_eval(x)
    except (ValueError, SyntaxError):
        # If evaluation fails, return an empty list or handle the error as per your requirement
        return []

# Assuming 'movies_new' DataFrame has 'keywords' column where values are stored as string representations of lists
# Apply the custom function to convert string representations to actual lists
movies_new['genres'] = movies_new['genres'].apply(safe_literal_eval)

In [ ]:
movies_new.head(2)

,Unnamed: 0,movie_id,title,overview,genres,keywords,cast,crew
0,0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",[Action],['culture clash'],"['Sam Worthington', 'Zoe Saldana', 'Sigourney ...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",[Adventure],['ocean'],"['Johnny Depp', 'Orlando Bloom', 'Keira Knight...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

### now we will extract director value from the crew

In [6]:
movies_new.head(2)

,Unnamed: 0,movie_id,title,overview,genres,keywords,cast,crew
0,0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",['Action'],['culture clash'],"['Sam Worthington', 'Zoe Saldana', 'Sigourney ...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",['Adventure'],['ocean'],"['Johnny Depp', 'Orlando Bloom', 'Keira Knight...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [7]:
def fetch_director(obj):
    l=[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            l.append(i['name'])
            break
    return l

In [8]:
movies_new['crew'] = movies_new['crew'].apply(fetch_director)

In [9]:
movies_new.head(2)

,Unnamed: 0,movie_id,title,overview,genres,keywords,cast,crew
0,0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",['Action'],['culture clash'],"['Sam Worthington', 'Zoe Saldana', 'Sigourney ...",[James Cameron]
1,1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",['Adventure'],['ocean'],"['Johnny Depp', 'Orlando Bloom', 'Keira Knight...",[Gore Verbinski]

#### convert the overview to list

In [10]:
movies_new['overview']=movies_new['overview'].apply(lambda x:x.split())

In [11]:
movies_new.head(1)

,Unnamed: 0,movie_id,title,overview,genres,keywords,cast,crew
0,0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",['Action'],['culture clash'],"['Sam Worthington', 'Zoe Saldana', 'Sigourney ...",[James Cameron]

In [ ]:
'''Sam worthington
   Samworthington'''

'Sam worthington\n   Samworthington'

In [12]:
movies_new['keywords'] = movies_new['keywords'].apply(lambda x:[i.replace(" ","") for i in x])

TypeError: 'float' object is not iterable


It seems like you're encountering an error while working with a DataFrame column named 'keywords'. The error message indicates that you're trying to iterate over a 'float' object, which suggests that there might be some NaN (Not a Number) values in your DataFrame.

To handle this error, you can first check for NaN values in the 'keywords' column and then apply your lambda function. Here's how you can do it:

In [13]:
movies_new.isnull().sum()

Unnamed: 0      0
movie_id        0
title           0
overview        0
genres         28
keywords      411
cast            0
crew            0
dtype: int64

In [14]:
movies_new.head(2)

,Unnamed: 0,movie_id,title,overview,genres,keywords,cast,crew
0,0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",['Action'],['culture clash'],"['Sam Worthington', 'Zoe Saldana', 'Sigourney ...",[James Cameron]
1,1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",['Adventure'],['ocean'],"['Johnny Depp', 'Orlando Bloom', 'Keira Knight...",[Gore Verbinski]

### Sam Worthington 
### SamWorthington

In [15]:
movies_new['genres'] = movies_new['genres'].apply(lambda x:[i.replace(" ","") for i in x])

TypeError: 'float' object is not iterable

In [16]:
movies_new['keywords'] = movies_new['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies_new['cast'] = movies_new['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies_new['crew'] = movies_new['crew'].apply(lambda x:[i.replace(" ","") for i in x])

TypeError: 'float' object is not iterable

In [17]:
movies_new.head(2)

,Unnamed: 0,movie_id,title,overview,genres,keywords,cast,crew
0,0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",['Action'],['culture clash'],"['Sam Worthington', 'Zoe Saldana', 'Sigourney ...",[James Cameron]
1,1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",['Adventure'],['ocean'],"['Johnny Depp', 'Orlando Bloom', 'Keira Knight...",[Gore Verbinski]

#### adding the columns in one tags column

In [167]:
movies_new['tags'] = movies_new['overview']+movies_new['genres']+movies_new['keywords']+movies_new['crew']+movies_new['cast']

In [168]:
movies_new.head(2)

,Unnamed: 0,movie_id,title,overview,genres,keywords,cast,crew,tags
0,0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",[Action],[Action],"[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",[Adventure],[Adventure],"[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."

In [2]:
import numpy as np
import pandas as pd

In [3]:
new_df = pd.read_csv('new_dff.csv')

In [24]:
# new_df = movies_new[['movie_id','tags','title']]

In [4]:
new_df.head(2)

,Unnamed: 0,movie_id,tags,title
0,0,19995,"['In', 'the', '22nd', 'century,', 'a', 'parapl...",Avatar
1,1,285,"['Captain', 'Barbossa,', 'long', 'believed', '...",Pirates of the Caribbean: At World's End

In [5]:
import ast

# Custom function to safely convert string representations to actual lists
def safe_literal_eval(x):
    try:
        return ast.literal_eval(x)
    except (ValueError, SyntaxError):
        # If evaluation fails, return an empty list or handle the error as per your requirement
        return []

# Assuming 'movies_new' DataFrame has 'keywords' column where values are stored as string representations of lists
# Apply the custom function to convert string representations to actual lists
new_df['tags'] = new_df['tags'].apply(safe_literal_eval)

In [6]:
new_df.head(2)

,Unnamed: 0,movie_id,tags,title
0,0,19995,"[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar
1,1,285,"[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End

In [7]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [8]:
new_df.head(2)

,Unnamed: 0,movie_id,tags,title
0,0,19995,"In the 22nd century, a paraplegic Marine is di...",Avatar
1,1,285,"Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End

In [9]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Action JamesCameron SamWorthington ZoeSaldana SigourneyWeaver StephenLang MichelleRodriguez GiovanniRibisi JoelDavidMoore CCHPounder WesStudi LazAlonso DileepRao MattGerald SeanAnthonyMoran JasonWhyte ScottLawrence KellyKilgour JamesPatrickPitt SeanPatrickMurphy PeterDillon KevinDorman KelsonHenderson DavidVanHorn JacobTomuri MichaelBlain-Rozgay JonCurry LukeHawker WoodySchultz PeterMensah SoniaYee JahnelCurfman IlramChoi KylaWarren LisaRoumain DebraWilson ChrisMala TaylorKibby JodieLandau JulieLamm CullenB.Madden JosephBradyMadden FrankieTorres AustinWilson SaraWilson TamicaWashington-Miller LucyBriant NathanMeister GerryBlair MatthewChamberlain PaulYates WrayWilson JamesGaylyn MelvinLenoClarkIII CarvonFutrell BrandonJelkes MicahMoch HanniyahMuhammad ChristopherNolen ChristaOliver AprilMarieThomas BravitaA.Threatt ColinBleasdale MikeBodnar MattClayton NicoleDionne JamieHarrison AllanHenry AnthonyIngruber AshleyJeffery DeanKnowsley JosephMika-Hunt TerryNotary KaiPantano LoganPithyou StuartPollock Raja GarethRuck RhianSheehan T.J.Storm JodieTaylor AliciaVela-Bailey RichardWhiteside NikieZambo JuleneRenee'

In [10]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [11]:
new_df.head(2)

,Unnamed: 0,movie_id,tags,title
0,0,19995,"in the 22nd century, a paraplegic marine is di...",Avatar
1,1,285,"captain barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End

In [12]:
new_df = new_df.drop(['Unnamed: 0'],axis=1)

#### Vectorization

In [186]:
# pip install -U scikit-learn

Note: you may need to restart the kernel to use updated packages.Collecting scikit-learn
  Using cached scikit_learn-1.4.2-cp311-cp311-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.19.5 in .\movie\lib\site-packages (from scikit-learn) (1.26.4)
Collecting scipy>=1.6.0 (from scikit-learn)
  Using cached scipy-1.13.0-cp311-cp311-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Using cached threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.4.2-cp311-cp311-win_amd64.whl (10.6 MB)
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   - -------------------------------------- 0.3/10.6 MB 5.9 MB/s eta 0:00:02
   -- ------------------------------------- 0.8/10.6 MB 5.4 MB/s eta 0:00:02
   --- ------------------------------------ 1.0/10.6 MB 6.0 MB/s eta 0:00:02
   --- ------------------------------------ 1.0/10.6 MB 6.0 MB/s eta 0:00:02
   ---- ----------------------------------- 1.2/10.6 MB 4.3 MB/s eta 0:00:03
   ---- ----------------------------------- 1.2/10.6 MB 4.0 MB/s eta 0:00:03
   ---- ----------------------------------- 1.2/10.6 MB 3.6 MB/s eta 0:00:03
   ----- ---------------------------------- 1.4/10.6 MB 3.3 MB/s eta 0:00:03
   ----- ---------------------------------- 1.4/10.6 MB 2.9 MB/s eta 0:00:04
   ----- ---------------------------------- 1.4/10.6 MB 2.9 MB/s eta 0:00:04
   ----- ---------------------------------- 1.6/10.6 MB 2.7 MB/s eta 0:00:04
   ------ --------------------------------- 1.6/10.6 MB 2.6 MB/s eta 0:00:04
   ------ --------------------------------- 1.7/10.6 MB 2.5 MB/s eta 0:00:04
   ------ --------------------------------- 1.7/10.6 MB 2.5 MB/s eta 0:00:04
   ------ --------------------------------- 1.7/10.6 MB 2.5 MB/s eta 0:00:04
   ------ --------------------------------- 1.8/10.6 MB 2.3 MB/s eta 0:00:04
   ------- -------------------------------- 1.9/10.6 MB 2.3 MB/s eta 0:00:04
   ------- -------------------------------- 1.9/10.6 MB 2.2 MB/s eta 0:00:04
   ------- -------------------------------- 2.0/10.6 MB 2.1 MB/s eta 0:00:05
   ------- -------------------------------- 2.1/10.6 MB 2.1 MB/s eta 0:00:05
   -------- ------------------------------- 2.1/10.6 MB 2.1 MB/s eta 0:00:05
   -------- ------------------------------- 2.2/10.6 MB 2.1 MB/s eta 0:00:05
   -------- ------------------------------- 2.3/10.6 MB 2.0 MB/s eta 0:00:05
   -------- ------------------------------- 2.3/10.6 MB 2.0 MB/s eta 0:00:05
   -------- ------------------------------- 2.4/10.6 MB 1.9 MB/s eta 0:00:05
   --------- ------------------------------ 2.4/10.6 MB 1.9 MB/s eta 0:00:05
   --------- ------------------------------ 2.5/10.6 MB 1.9 MB/s eta 0:00:05
   --------- ------------------------------ 2.5/10.6 MB 1.8 MB/s eta 0:00:05
   --------- ------------------------------ 2.5/10.6 MB 1.8 MB/s eta 0:00:05
   --------- ------------------------------ 2.5/10.6 MB 1.8 MB/s eta 0:00:05
   --------- ------------------------------ 2.5/10.6 MB 1.8 MB/s eta 0:00:05
   --------- ------------------------------ 2.5/10.6 MB 1.8 MB/s eta 0:00:05
   --------- ------------------------------ 2.5/10.6 MB 1.8 MB/s eta 0:00:05
   --------- ------------------------------ 2.5/10.6 MB 1.8 MB/s eta 0:00:05
   --------- ------------------------------ 2.5/10.6 MB 1.8 MB/s eta 0:00:05
   --------- ------------------------------ 2.5/10.6 MB 1.8 MB/s eta 0:00:05
   --------- ------------------------------ 2.5/10.6 MB 1.8 MB/s eta 0:00:05
   --------- ------------------------------ 2.5/10.6 MB 1.8 MB/s eta 0:00:05
   --------- ------------------------------ 2.5/10.6 MB 1.8 MB/s eta 0:00:05
   --------- ------------------------------ 2.5/10.6 MB 1.8 MB/s eta 0:00:05
   --------- ------------------------------ 2.5/10.6 MB 1.8 MB/s eta 0:00:05
   --------- ------------------------------ 2.5/10.6 MB 1.8 MB/s eta 0:00:05
   --------- ------------------------------ 2.5/10.6 MB 1.8 MB/s eta 0:00:05
   --------- ------------------------------ 2.5/10.6 MB 1.8 MB/s eta 0:00:05
   --------- ------------------------------ 2.5/10.6 MB 1.8 MB/s eta 0:00:05
   --------- ------------------------------ 2.5/10.6 MB 1.8 MB/s eta 0:00:05
   --------- ------------------------------ 2.5/10.6 MB 1.8 MB/s eta 0:00:05
   --------- ------------------------------ 2.5/10.6 MB 1.8 MB/s eta 0:00:05
   --------- ------------------------------ 2.5/10.6 MB 1.8 MB/s eta 0:00:05
   ---------- ----------------------------- 2.8/10.6 MB 1.2 MB/s eta 0:00:07
   ---------- ----------------------------- 2.9/10.6 MB 1.2 MB/s eta 0:00:07
   ------------ --------------------------- 3.4/10.6 MB 1.3 MB/s eta 0:00:06
   ------------- -------------------------- 3.6/10.6 MB 1.4 MB/s eta 0:00:06
   ------------- -------------------------- 3.7/10.6 MB 1.4 MB/s eta 0:00:05
   -------------- ------------------------- 3.8/10.6 MB 1.4 MB/s eta 0:00:05
   -------------- ------------------------- 3.9/10.6 MB 1.4 MB/s eta 0:00:05
   -------------- ------------------------- 4.0/10.6 MB 1.4 MB/s eta 0:00:05
   --------------- ------------------------ 4.0/10.6 MB 1.4 MB/s eta 0:00:05
   --------------- ------------------------ 4.1/10.6 MB 1.4 MB/s eta 0:00:05
   --------------- ------------------------ 4.2/10.6 MB 1.4 MB/s eta 0:00:05
   ---------------- ----------------------- 4.3/10.6 MB 1.4 MB/s eta 0:00:05
   ---------------- ----------------------- 4.4/10.6 MB 1.4 MB/s eta 0:00:05
   ----------------- ---------------------- 4.6/10.6 MB 1.4 MB/s eta 0:00:05
   ----------------- ---------------------- 4.7/10.6 MB 1.4 MB/s eta 0:00:05
   ------------------ --------------------- 4.8/10.6 MB 1.4 MB/s eta 0:00:05
   ------------------ --------------------- 4.9/10.6 MB 1.5 MB/s eta 0:00:04
   ------------------ --------------------- 5.0/10.6 MB 1.5 MB/s eta 0:00:04
   ------------------- -------------------- 5.1/10.6 MB 1.5 MB/s eta 0:00:04
   ------------------- -------------------- 5.1/10.6 MB 1.5 MB/s eta 0:00:04
   ------------------- -------------------- 5.2/10.6 MB 1.5 MB/s eta 0:00:04
   ------------------- -------------------- 5.3/10.6 MB 1.5 MB/s eta 0:00:04
   -------------------- ------------------- 5.4/10.6 MB 1.5 MB/s eta 0:00:04
   -------------------- ------------------- 5.5/10.6 MB 1.5 MB/s eta 0:00:04
   -------------------- ------------------- 5.5/10.6 MB 1.5 MB/s eta 0:00:04
   --------------------- ------------------ 5.6/10.6 MB 1.5 MB/s eta 0:00:04
   --------------------- ------------------ 5.7/10.6 MB 1.5 MB/s eta 0:00:04
   --------------------- ------------------ 5.7/10.6 MB 1.5 MB/s eta 0:00:04
   --------------------- ------------------ 5.8/10.6 MB 1.5 MB/s eta 0:00:04
   ---------------------- ----------------- 5.8/10.6 MB 1.5 MB/s eta 0:00:04
   ---------------------- ----------------- 5.8/10.6 MB 1.5 MB/s eta 0:00:04
   ---------------------- ----------------- 5.8/10.6 MB 1.5 MB/s eta 0:00:04
   ---------------------- ----------------- 5.8/10.6 MB 1.5 MB/s eta 0:00:04
   ---------------------- ----------------- 5.8/10.6 MB 1.5 MB/s eta 0:00:04
   ---------------------- ----------------- 5.9/10.6 MB 1.4 MB/s eta 0:00:04
   ---------------------- ----------------- 5.9/10.6 MB 1.4 MB/s eta 0:00:04
   ---------------------- ----------------- 5.9/10.6 MB 1.4 MB/s eta 0:00:04
   ---------------------- ----------------- 5.9/10.6 MB 1.4 MB/s eta 0:00:04
   ---------------------- ----------------- 6.0/10.6 MB 1.4 MB/s eta 0:00:04
   ---------------------- ----------------- 6.0/10.6 MB 1.4 MB/s eta 0:00:04
   ---------------------- ----------------- 6.1/10.6 MB 1.4 MB/s eta 0:00:04
   ----------------------- ---------------- 6.1/10.6 MB 1.3 MB/s eta 0:00:04
   ----------------------- ---------------- 6.1/10.6 MB 1.3 MB/s eta 0:00:04
   ----------------------- ---------------- 6.2/10.6 MB 1.3 MB/s eta 0:00:04
   ----------------------- ---------------- 6.3/10.6 MB 1.3 MB/s eta 0:00:04
   ----------------------- ---------------- 6.3/10.6 MB 1.3 MB/s eta 0:00:04
   ------------------------ --------------- 6.4/10.6 MB 1.3 MB/s eta 0:00:04
   ------------------------ --------------- 6.5/10.6 MB 1.3 MB/s eta 0:00:04
   ------------------------ --------------- 6.5/10.6 MB 1.3 MB/s eta 0:00:04
   ------------------------ --------------- 6.6/10.6 MB 1.3 MB/s eta 0:00:04
   ------------------------- -------------- 6.7/10.6 MB 1.3 MB/s eta 0:00:03
   ------------------------- -------------- 6.7/10.6 MB 1.3 MB/s eta 0:00:03
   ------------------------- -------------- 6.8/10.6 MB 1.3 MB/s eta 0:00:03
   ------------------------- -------------- 6.9/10.6 MB 1.3 MB/s eta 0:00:03
   -------------------------- ------------- 6.9/10.6 MB 1.3 MB/s eta 0:00:03
   -------------------------- ------------- 7.0/10.6 MB 1.3 MB/s eta 0:00:03
   -------------------------- ------------- 7.1/10.6 MB 1.3 MB/s eta 0:00:03
   --------------------------- ------------ 7.2/10.6 MB 1.4 MB/s eta 0:00:03
   --------------------------- ------------ 7.3/10.6 MB 1.4 MB/s eta 0:00:03
   --------------------------- ------------ 7.3/10.6 MB 1.4 MB/s eta 0:00:03
   ---------------------------- ----------- 7.4/10.6 MB 1.4 MB/s eta 0:00:03
   ---------------------------- ----------- 7.5/10.6 MB 1.4 MB/s eta 0:00:03
   ---------------------------- ----------- 7.6/10.6 MB 1.4 MB/s eta 0:00:03
   ---------------------------- ----------- 7.6/10.6 MB 1.4 MB/s eta 0:00:03
   ----------------------------- ---------- 7.7/10.6 MB 1.4 MB/s eta 0:00:03
   ----------------------------- ---------- 7.8/10.6 MB 1.4 MB/s eta 0:00:03
   ----------------------------- ---------- 7.9/10.6 MB 1.4 MB/s eta 0:00:02
   ----------------------------- ---------- 7.9/10.6 MB 1.4 MB/s eta 0:00:02
   ------------------------------ --------- 8.0/10.6 MB 1.4 MB/s eta 0:00:02
   ------------------------------ --------- 8.0/10.6 MB 1.4 MB/s eta 0:00:02
   ------------------------------ --------- 8.1/10.6 MB 1.4 MB/s eta 0:00:02
   ------------------------------ --------- 8.2/10.6 MB 1.4 MB/s eta 0:00:02
   ------------------------------- -------- 8.2/10.6 MB 1.4 MB/s eta 0:00:02
   ------------------------------- -------- 8.3/10.6 MB 1.4 MB/s eta 0:00:02
   ------------------------------- -------- 8.3/10.6 MB 1.4 MB/s eta 0:00:02
   ------------------------------- -------- 8.4/10.6 MB 1.4 MB/s eta 0:00:02
   -------------------------------- ------- 8.5/10.6 MB 1.4 MB/s eta 0:00:02
   -------------------------------- ------- 8.6/10.6 MB 1.4 MB/s eta 0:00:02
   -------------------------------- ------- 8.7/10.6 MB 1.4 MB/s eta 0:00:02
   --------------------------------- ------ 8.8/10.6 MB 1.4 MB/s eta 0:00:02
   --------------------------------- ------ 8.8/10.6 MB 1.4 MB/s eta 0:00:02
   --------------------------------- ------ 8.9/10.6 MB 1.4 MB/s eta 0:00:02
   --------------------------------- ------ 9.0/10.6 MB 1.4 MB/s eta 0:00:02
   ---------------------------------- ----- 9.0/10.6 MB 1.4 MB/s eta 0:00:02
   ---------------------------------- ----- 9.1/10.6 MB 1.4 MB/s eta 0:00:02
   ---------------------------------- ----- 9.2/10.6 MB 1.4 MB/s eta 0:00:02
   ---------------------------------- ----- 9.2/10.6 MB 1.4 MB/s eta 0:00:02
   ----------------------------------- ---- 9.3/10.6 MB 1.4 MB/s eta 0:00:01
   ----------------------------------- ---- 9.4/10.6 MB 1.4 MB/s eta 0:00:01
   ----------------------------------- ---- 9.4/10.6 MB 1.4 MB/s eta 0:00:01
   ------------------------------------ --- 9.5/10.6 MB 1.4 MB/s eta 0:00:01
   ------------------------------------ --- 9.6/10.6 MB 1.4 MB/s eta 0:00:01
   ------------------------------------ --- 9.7/10.6 MB 1.4 MB/s eta 0:00:01
   ------------------------------------ --- 9.8/10.6 MB 1.4 MB/s eta 0:00:01
   ------------------------------------- -- 9.9/10.6 MB 1.4 MB/s eta 0:00:01
   ------------------------------------- -- 10.0/10.6 MB 1.4 MB/s eta 0:00:01
   ------------------------------------- -- 10.1/10.6 MB 1.4 MB/s eta 0:00:01
   -------------------------------------- - 10.1/10.6 MB 1.4 MB/s eta 0:00:01
   -------------------------------------- - 10.2/10.6 MB 1.4 MB/s eta 0:00:01
   -------------------------------------- - 10.2/10.6 MB 1.4 MB/s eta 0:00:01
   -------------------------------------- - 10.3/10.6 MB 1.4 MB/s eta 0:00:01
   -------------------------------------- - 10.3/10.6 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  10.4/10.6 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  10.4/10.6 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  10.5/10.6 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  10.5/10.6 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 10.6/10.6 MB 1.3 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
   ---------------------------------------- 0.0/301.8 kB ? eta -:--:--
   ---------- ----------------------------- 81.9/301.8 kB 1.5 MB/s eta 0:00:01
   ---------------- ----------------------- 122.9/301.8 kB 1.4 MB/s eta 0:00:01
   ------------------------- -------------- 194.6/301.8 kB 1.3 MB/s eta 0:00:01
   -------------------------------- ------- 245.8/301.8 kB 1.3 MB/s eta 0:00:01
   ---------------------------------------  297.0/301.8 kB 1.3 MB/s eta 0:00:01
   ---------------------------------------  297.0/301.8 kB 1.3 MB/s eta 0:00:01
   -------------------------------------- 301.8/301.8 kB 889.0 kB/s eta 0:00:00
Downloading scipy-1.13.0-cp311-cp311-win_amd64.whl (46.2 MB)
   ---------------------------------------- 0.0/46.2 MB ? eta -:--:--
   ---------------------------------------- 0.1/46.2 MB 2.6 MB/s eta 0:00:18
   ---------------------------------------- 0.2/46.2 MB 1.8 MB/s eta 0:00:26
   ---------------------------------------- 0.3/46.2 MB 1.8 MB/s eta 0:00:27
   ---------------------------------------- 0.4/46.2 MB 1.7 MB/s eta 0:00:27
   ---------------------------------------- 0.5/46.2 MB 1.8 MB/s eta 0:00:26
   ---------------------------------------- 0.5/46.2 MB 1.7 MB/s eta 0:00:28
   ---------------------------------------- 0.6/46.2 MB 1.7 MB/s eta 0:00:27
    --------------------------------------- 0.7/46.2 MB 1.7 MB/s eta 0:00:27
    --------------------------------------- 0.8/46.2 MB 1.7 MB/s eta 0:00:27
    --------------------------------------- 0.9/46.2 MB 1.7 MB/s eta 0:00:27
    --------------------------------------- 1.0/46.2 MB 1.7 MB/s eta 0:00:27
    --------------------------------------- 1.0/46.2 MB 1.8 MB/s eta 0:00:26
   - -------------------------------------- 1.2/46.2 MB 1.7 MB/s eta 0:00:26
   - -------------------------------------- 1.2/46.2 MB 1.7 MB/s eta 0:00:26
   - -------------------------------------- 1.4/46.2 MB 1.8 MB/s eta 0:00:25
   - -------------------------------------- 1.5/46.2 MB 1.8 MB/s eta 0:00:25
   - -------------------------------------- 1.6/46.2 MB 1.9 MB/s eta 0:00:24
   - -------------------------------------- 1.7/46.2 MB 1.9 MB/s eta 0:00:24
   - -------------------------------------- 1.8/46.2 MB 1.9 MB/s eta 0:00:24
   - -------------------------------------- 1.9/46.2 MB 1.8 MB/s eta 0:00:25
   - -------------------------------------- 2.0/46.2 MB 1.8 MB/s eta 0:00:25
   - -------------------------------------- 2.0/46.2 MB 1.8 MB/s eta 0:00:25
   - -------------------------------------- 2.1/46.2 MB 1.8 MB/s eta 0:00:25
   - -------------------------------------- 2.2/46.2 MB 1.8 MB/s eta 0:00:26
   - -------------------------------------- 2.2/46.2 MB 1.7 MB/s eta 0:00:26
   - -------------------------------------- 2.3/46.2 MB 1.7 MB/s eta 0:00:26
   -- ------------------------------------- 2.4/46.2 MB 1.7 MB/s eta 0:00:26
   -- ------------------------------------- 2.4/46.2 MB 1.7 MB/s eta 0:00:26
   -- ------------------------------------- 2.5/46.2 MB 1.7 MB/s eta 0:00:26
   -- ------------------------------------- 2.5/46.2 MB 1.7 MB/s eta 0:00:26
   -- ------------------------------------- 2.6/46.2 MB 1.7 MB/s eta 0:00:27
   -- ------------------------------------- 2.7/46.2 MB 1.7 MB/s eta 0:00:27
   -- ------------------------------------- 2.7/46.2 MB 1.7 MB/s eta 0:00:27
   -- ------------------------------------- 2.8/46.2 MB 1.7 MB/s eta 0:00:27
   -- ------------------------------------- 2.9/46.2 MB 1.6 MB/s eta 0:00:27
   -- ------------------------------------- 2.9/46.2 MB 1.6 MB/s eta 0:00:27
   -- ------------------------------------- 3.0/46.2 MB 1.6 MB/s eta 0:00:28
   -- ------------------------------------- 3.0/46.2 MB 1.6 MB/s eta 0:00:28
   -- ------------------------------------- 3.0/46.2 MB 1.6 MB/s eta 0:00:28
   -- ------------------------------------- 3.1/46.2 MB 1.5 MB/s eta 0:00:28
   -- ------------------------------------- 3.2/46.2 MB 1.5 MB/s eta 0:00:29
   -- ------------------------------------- 3.2/46.2 MB 1.5 MB/s eta 0:00:29
   -- ------------------------------------- 3.3/46.2 MB 1.5 MB/s eta 0:00:29
   -- ------------------------------------- 3.3/46.2 MB 1.5 MB/s eta 0:00:29
   -- ------------------------------------- 3.4/46.2 MB 1.5 MB/s eta 0:00:29
   --- ------------------------------------ 3.5/46.2 MB 1.5 MB/s eta 0:00:29
   --- ------------------------------------ 3.5/46.2 MB 1.5 MB/s eta 0:00:29
   --- ------------------------------------ 3.6/46.2 MB 1.5 MB/s eta 0:00:29
   --- ------------------------------------ 3.7/46.2 MB 1.5 MB/s eta 0:00:29
   --- ------------------------------------ 3.8/46.2 MB 1.5 MB/s eta 0:00:29
   --- ------------------------------------ 3.9/46.2 MB 1.5 MB/s eta 0:00:29
   --- ------------------------------------ 3.9/46.2 MB 1.5 MB/s eta 0:00:29
   --- ------------------------------------ 4.0/46.2 MB 1.5 MB/s eta 0:00:29
   --- ------------------------------------ 4.1/46.2 MB 1.5 MB/s eta 0:00:29
   --- ------------------------------------ 4.1/46.2 MB 1.5 MB/s eta 0:00:29
   --- ------------------------------------ 4.2/46.2 MB 1.5 MB/s eta 0:00:29
   --- ------------------------------------ 4.3/46.2 MB 1.5 MB/s eta 0:00:28
   --- ------------------------------------ 4.4/46.2 MB 1.5 MB/s eta 0:00:28
   --- ------------------------------------ 4.5/46.2 MB 1.5 MB/s eta 0:00:28
   --- ------------------------------------ 4.6/46.2 MB 1.5 MB/s eta 0:00:28
   ---- ----------------------------------- 4.7/46.2 MB 1.5 MB/s eta 0:00:28
   ---- ----------------------------------- 4.7/46.2 MB 1.5 MB/s eta 0:00:28
   ---- ----------------------------------- 4.8/46.2 MB 1.5 MB/s eta 0:00:28
   ---- ----------------------------------- 4.9/46.2 MB 1.5 MB/s eta 0:00:28
   ---- ----------------------------------- 4.9/46.2 MB 1.5 MB/s eta 0:00:28
   ---- ----------------------------------- 5.0/46.2 MB 1.5 MB/s eta 0:00:28
   ---- ----------------------------------- 5.0/46.2 MB 1.5 MB/s eta 0:00:28
   ---- ----------------------------------- 5.0/46.2 MB 1.5 MB/s eta 0:00:28
   ---- ----------------------------------- 5.1/46.2 MB 1.5 MB/s eta 0:00:29
   ---- ----------------------------------- 5.1/46.2 MB 1.5 MB/s eta 0:00:29
   ---- ----------------------------------- 5.2/46.2 MB 1.4 MB/s eta 0:00:29
   ---- ----------------------------------- 5.2/46.2 MB 1.4 MB/s eta 0:00:29
   ---- ----------------------------------- 5.3/46.2 MB 1.4 MB/s eta 0:00:29
   ---- ----------------------------------- 5.3/46.2 MB 1.4 MB/s eta 0:00:29
   ---- ----------------------------------- 5.4/46.2 MB 1.4 MB/s eta 0:00:29
   ---- ----------------------------------- 5.4/46.2 MB 1.4 MB/s eta 0:00:29

In [13]:
import sklearn

In [14]:
from sklearn.feature_extraction.text import CountVectorizer

In [15]:
cv = CountVectorizer(max_features=5500,stop_words='english')

In [16]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [17]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [18]:
cv.fit_transform(new_df['tags']).toarray().shape

(4806, 5500)

In [19]:
cv.get_feature_names_out()[0:20]

array(['000', '007', '10', '100', '11', '12', '13', '14', '15', '16',
       '17', '18', '18th', '19', '1930s', '1950s', '1960s', '1970s',
       '1980', '1980s'], dtype=object)

In [20]:
len(cv.get_feature_names_out())

5500

In [21]:
!pip install nltk #natural language processing library

ERROR: Invalid requirement: '#natural'

In [22]:
import nltk

In [23]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [24]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [25]:
new_df['tags'] = new_df['tags'].apply(stem)

In [26]:
new_df.head(2)

,movie_id,tags,title
0,19995,"in the 22nd century, a parapleg marin is dispa...",Avatar
1,285,"captain barbossa, long believ to be dead, ha c...",Pirates of the Caribbean: At World's End

In [27]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [28]:
similarity[0]

array([1.        , 0.        , 0.12506108, ..., 0.        , 0.        ,
       0.        ])

###  recommendation

In [29]:
def reccomend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]


    for i in movie_list:
        print(new_df.iloc[i[0]].title)

In [30]:
import streamlit

In [31]:
reccomend(movie='Avatar')

The Helix... Loaded
Khiladi 786
Silver Medalist
Force 10 from Navarone
Supercross

In [32]:
new_df['title'].iloc[19]

'The Hobbit: The Battle of the Five Armies'

In [33]:
new_df[new_df['title'] == 'Batman Begins'].index[0]

119

In [35]:
import pickle

In [36]:
pickle.dump(new_df,open('movie.pkl','wb'))

In [38]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [39]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))#converting into dictionary

In [40]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [57]:
l = sorted(list(enumerate(similarity[0])),reverse=True)

In [58]:
l

[(4805, 0.0),
 (4804, 0.0),
 (4803, 0.0),
 (4802, 0.0),
 (4801, 0.12143534814378325),
 (4800, 0.0),
 (4799, 0.03522349768381735),
 (4798, 0.02358333153182891),
 (4797, 0.0),
 (4796, 0.0),
 (4795, 0.0),
 (4794, 0.0),
 (4793, 0.0),
 (4792, 0.0),
 (4791, 0.0),
 (4790, 0.0),
 (4789, 0.0),
 (4788, 0.0),
 (4787, 0.0),
 (4786, 0.023382618677247786),
 (4785, 0.0),
 (4784, 0.0),
 (4783, 0.0),
 (4782, 0.0),
 (4781, 0.1382602259640567),
 (4780, 0.0),
 (4779, 0.0),
 (4778, 0.0),
 (4777, 0.0),
 (4776, 0.0),
 (4775, 0.0),
 (4774, 0.0),
 (4773, 0.0),
 (4772, 0.11085479909473867),
 (4771, 0.0),
 (4770, 0.0),
 (4769, 0.0),
 (4768, 0.0),
 (4767, 0.0),
 (4766, 0.0),
 (4765, 0.0),
 (4764, 0.0),
 (4763, 0.0),
 (4762, 0.0),
 (4761, 0.0),
 (4760, 0.0),
 (4759, 0.0),
 (4758, 0.0),
 (4757, 0.05184758473652127),
 (4756, 0.0),
 (4755, 0.0),
 (4754, 0.0),
 (4753, 0.0),
 (4752, 0.0),
 (4751, 0.0),
 (4750, 0.0),
 (4749, 0.0),
 (4748, 0.0),
 (4747, 0.0),
 (4746, 0.0),
 (4745, 0.0),
 (4744, 0.0),
 (4743, 0.0),
 (4742, 0.0),
 (4741, 0.0),
 (4740, 0.0),
 (4739, 0.0),
 (4738, 0.0),
 (4737, 0.0),
 (4736, 0.0),
 (4735, 0.0),
 (4734, 0.0),
 (4733, 0.0),
 (4732, 0.0),
 (4731, 0.0),
 (4730, 0.13116516715679058),
 (4729, 0.0),
 (4728, 0.0),
 (4727, 0.0),
 (4726, 0.0),
 (4725, 0.0),
 (4724, 0.0),
 (4723, 0.0),
 (4722, 0.0),
 (4721, 0.0),
 (4720, 0.0),
 (4719, 0.0),
 (4718, 0.0),
 (4717, 0.0),
 (4716, 0.0),
 (4715, 0.0),
 (4714, 0.0),
 (4713, 0.0),
 (4712, 0.0),
 (4711, 0.08648775001288211),
 (4710, 0.0),
 (4709, 0.0),
 (4708, 0.0),
 (4707, 0.0),
 (4706, 0.013655138251635028),
 (4705, 0.0),
 (4704, 0.16481712868606582),
 (4703, 0.0),
 (4702, 0.0),
 (4701, 0.0),
 (4700, 0.0),
 (4699, 0.0),
 (4698, 0.0),
 (4697, 0.0),
 (4696, 0.0),
 (4695, 0.0),
 (4694, 0.0),
 (4693, 0.0),
 (4692, 0.06788442333021306),
 (4691, 0.0),
 (4690, 0.0),
 (4689, 0.0),
 (4688, 0.0),
 (4687, 0.0),
 (4686, 0.0),
 (4685, 0.0),
 (4684, 0.0),
 (4683, 0.0),
 (4682, 0.019255709562623336),
 (4681, 0.0),
 (4680, 0.0),
 (4679, 0.0),
 (4678, 0.0),
 (4677, 0.0),
 (4676, 0.0),
 (4675, 0.0),
 (4674, 0.0),
 (4673, 0.0),
 (4672, 0.0),
 (4671, 0.0),
 (4670, 0.0),
 (4669, 0.07490058862731383),
 (4668, 0.0),
 (4667, 0.0),
 (4666, 0.0),
 (4665, 0.0),
 (4664, 0.0),
 (4663, 0.0),
 (4662, 0.0),
 (4661, 0.0),
 (4660, 0.0),
 (4659, 0.0),
 (4658, 0.0),
 (4657, 0.16129032258064518),
 (4656, 0.023382618677247786),
 (4655, 0.0),
 (4654, 0.0),
 (4653, 0.0),
 (4652, 0.03829197905337418),
 (4651, 0.0),
 (4650, 0.0),
 (4649, 0.0),
 (4648, 0.0),
 (4647, 0.0),
 (4646, 0.0),
 (4645, 0.0),
 (4644, 0.0),
 (4643, 0.0),
 (4642, 0.0),
 (4641, 0.0),
 (4640, 0.03225806451612904),
 (4639, 0.0),
 (4638, 0.0),
 (4637, 0.0),
 (4636, 0.1270001270001905),
 (4635, 0.0),
 (4634, 0.0),
 (4633, 0.027389551783238836),
 (4632, 0.04016096644512494),
 (4631, 0.0),
 (4630, 0.0),
 (4629, 0.0),
 (4628, 0.0),
 (4627, 0.0),
 (4626, 0.13116516715679058),
 (4625, 0.0),
 (4624, 0.12143534814378325),
 (4623, 0.16064386578049977),
 (4622, 0.04356068418690321),
 (4621, 0.0),
 (4620, 0.030358837035945812),
 (4619, 0.0),
 (4618, 0.0),
 (4617, 0.0),
 (4616, 0.0),
 (4615, 0.0),
 (4614, 0.0),
 (4613, 0.0),
 (4612, 0.0),
 (4611, 0.0),
 (4610, 0.0),
 (4609, 0.0),
 (4608, 0.0),
 (4607, 0.0),
 (4606, 0.0),
 (4605, 0.0),
 (4604, 0.0),
 (4603, 0.0),
 (4602, 0.13576884666042613),
 (4601, 0.0),
 (4600, 0.0),
 (4599, 0.0),
 (4598, 0.0),
 (4597, 0.0),
 (4596, 0.0),
 (4595, 0.0),
 (4594, 0.04356068418690321),
 (4593, 0.0),
 (4592, 0.0),
 (4591, 0.0),
 (4590, 0.0),
 (4589, 0.0),
 (4588, 0.0),
 (4587, 0.0),
 (4586, 0.0),
 (4585, 0.0),
 (4584, 0.0),
 (4583, 0.0),
 (4582, 0.0),
 (4581, 0.0),
 (4580, 0.0),
 (4579, 0.0),
 (4578, 0.0),
 (4577, 0.0),
 (4576, 0.0),
 (4575, 0.0),
 (4574, 0.0),
 (4573, 0.0),
 (4572, 0.0),
 (4571, 0.0),
 (4570, 0.0),
 (4569, 0.06451612903225808),
 (4568, 0.1567723603339241),
 (4567, 0.0),
 (4566, 0.0),
 (4565, 0.03349656154508428),
 (4564, 0.08980265101338746),
 (4563, 0.0),
 (4562, 0.0),
 (4561, 0.0),
 (4560, 0.0),
 (4559, 0.0),
 (4558, 0.0),
 (4557, 0.17424273674761284),
 (4556, 0.0),
 (4555, 0.0),
 (4554, 0.0),
 (4553, 0.029934217004462485),
 (4552, 0.10592542826647522),
 (4551, 0.0),
 (4550, 0.0),
 (4549, 0.12903225806451615),
 (4548, 0.0),
 (4547, 0.0),
 (4546, 0.0),
 (4545, 0.0267739776300833),
 (4544, 0.0),
 (4543, 0.0),
 (4542, 0.0),
 (4541, 0.0),
 (4540, 0.0),
 (4539, 0.0),
 (4538, 0.13116516715679058),
 (4537, 0.0),
 (4536, 0.0),
 (4535, 0.0),
 (4534, 0.0),
 (4533, 0.0),
 (4532, 0.0),
 (4531, 0.0),
 (4530, 0.0),
 (4529, 0.026198125853112306),
 (4528, 0.0),
 (4527, 0.0),
 (4526, 0.0),
 (4525, 0.0),
 (4524, 0.0),
 (4523, 0.0),
 (4522, 0.0),
 (4521, 0.0),
 (4520, 0.0),
 (4519, 0.07332355751067667),
 (4518, 0.0),
 (4517, 0.0),
 (4516, 0.0),
 (4515, 0.0),
 (4514, 0.0),
 (4513, 0.0),
 (4512, 0.0),
 (4511, 0.0),
 (4510, 0.0),
 (4509, 0.0),
 (4508, 0.0),
 (4507, 0.0),
 (4506, 0.0),
 (4505, 0.0),
 (4504, 0.0),
 (4503, 0.0),
 (4502, 0.1854955583040673),
 (4501, 0.0),
 (4500, 0.0),
 (4499, 0.0),
 (4498, 0.0),
 (4497, 0.0),
 (4496, 0.041204282171516456),
 (4495, 0.0),
 (4494, 0.0),
 (4493, 0.0),
 (4492, 0.0),
 (4491, 0.0),
 (4490, 0.1531679162134967),
 (4489, 0.0),
 (4488, 0.0),
 (4487, 0.0),
 (4486, 0.0),
 (4485, 0.0),
 (4484, 0.02875986542715254),
 (4483, 0.0),
 (4482, 0.0),
 (4481, 0.0),
 (4480, 0.0),
 (4479, 0.0),
 (4478, 0.0),
 (4477, 0.0),
 (4476, 0.0),
 (4475, 0.0),
 (4474, 0.0),
 (4473, 0.0),
 (4472, 0.07838618016696206),
 (4471, 0.0),
 (4470, 0.0),
 (4469, 0.0),
 (4468, 0.16064386578049977),
 (4467, 0.0),
 (4466, 0.0),
 (4465, 0.0),
 (4464, 0.0),
 (4463, 0.16933350266692068),
 (4462, 0.0),
 (4461, 0.0),
 (4460, 0.0),
 (4459, 0.0),
 (4458, 0.0),
 (4457, 0.0),
 (4456, 0.0),
 (4455, 0.0),
 (4454, 0.04356068418690321),
 (4453, 0.11359236684941297),
 (4452, 0.0),
 (4451, 0.0),
 (4450, 0.0),
 (4449, 0.0),
 (4448, 0.0),
 (4447, 0.0),
 (4446, 0.0),
 (4445, 0.0),
 (4444, 0.0),
 (4443, 0.0),
 (4442, 0.0),
 (4441, 0.0),
 (4440, 0.0),
 (4439, 0.0),
 (4438, 0.0),
 (4437, 0.0),
 (4436, 0.0),
 (4435, 0.0),
 (4434, 0.0),
 (4433, 0.0),
 (4432, 0.0),
 (4431, 0.0),
 (4430, 0.0),
 (4429, 0.0),
 (4428, 0.0),
 (4427, 0.0),
 (4426, 0.0),
 (4425, 0.0),
 (4424, 0.0),
 (4423, 0.0),
 (4422, 0.0),
 (4421, 0.0),
 (4420, 0.0),
 (4419, 0.0),
 (4418, 0.0),
 (4417, 0.0),
 (4416, 0.0),
 (4415, 0.0),
 (4414, 0.0),
 (4413, 0.0),
 (4412, 0.19925419255468718),
 (4411, 0.0),
 (4410, 0.0),
 (4409, 0.0),
 (4408, 0.0),
 (4407, 0.0),
 (4406, 0.0),
 (4405, 0.3592106040535498),
 (4404, 0.0),
 (4403, 0.0),
 (4402, 0.0),
 (4401, 0.0),
 (4400, 0.0),
 (4399, 0.14802411344743452),
 (4398, 0.0),
 (4397, 0.0),
 (4396, 0.0),
 (4395, 0.0),
 (4394, 0.0),
 (4393, 0.0),
 (4392, 0.0),
 (4391, 0.0),
 (4390, 0.0),
 (4389, 0.0),
 (4388, 0.0),
 (4387, 0.0),
 (4386, 0.0),
 (4385, 0.0),
 (4384, 0.0),
 (4383, 0.0),
 (4382, 0.0),
 (4381, 0.0),
 (4380, 0.030358837035945812),
 (4379, 0.0),
 (4378, 0.0),
 (4377, 0.0),
 (4376, 0.0),
 (4375, 0.0),
 (4374, 0.0),
 (4373, 0.0),
 (4372, 0.0),
 (4371, 0.0),
 (4370, 0.0),
 (4369, 0.0),
 (4368, 0.0),
 (4367, 0.0),
 (4366, 0.0),
 (4365, 0.0),
 (4364, 0.0),
 (4363, 0.0),
 (4362, 0.0),
 (4361, 0.0),
 (4360, 0.0),
 (4359, 0.02707651805369412),
 (4358, 0.0),
 (4357, 0.1567723603339241),
 (4356, 0.0),
 (4355, 0.22470176588194152),
 (4354, 0.0),
 (4353, 0.0),
 (4352, 0.0),
 (4351, 0.046373889576016826),
 (4350, 0.0),
 (4349, 0.0),
 (4348, 0.0),
 (4347, 0.0),
 (4346, 0.0),
 (4345, 0.0),
 (4344, 0.0),
 (4343, 0.0),
 (4342, 0.0),
 (4341, 0.06160411036336974),
 (4340, 0.0),
 (4339, 0.0),
 (4338, 0.0),
 (4337, 0.0),
 (4336, 0.0),
 (4335, 0.0),
 (4334, 0.0),
 (4333, 0.0),
 (4332, 0.048001536073731935),
 (4331, 0.0),
 (4330, 0.11225331376673432),
 (4329, 0.0),
 (4328, 0.0),
 (4327, 0.03592106040535498),
 (4326, 0.0),
 (4325, 0.0),
 (4324, 0.0),
 (4323, 0.0),
 (4322, 0.0),
 (4321, 0.0),
 (4320, 0.14368424162141993),
 (4319, 0.07294462186022053),
 (4318, 0.0),
 (4317, 0.02913582733740325),
 (4316, 0.16481712868606582),
 (4315, 0.0),
 (4314, 0.0),
 (4313, 0.0),
 (4312, 0.0),
 (4311, 0.0),
 (4310, 0.0),
 (4309, 0.0),
 (4308, 0.0),
 (4307, 0.0),
 (4306, 0.0),
 (4305, 0.04599220498182739),
 (4304, 0.0),
 (4303, 0.0),
 (4302, 0.0),
 (4301, 0.0),
 (4300, 0.0),
 (4299, 0.0),
 (4298, 0.0),
 (4297, 0.0),
 (4296, 0.0),
 (4295, 0.0),
 (4294, 0.0),
 (4293, 0.0),
 (4292, 0.031750031750047626),
 (4291, 0.0),
 (4290, 0.0),
 (4289, 0.0),
 (4288, 0.0),
 (4287, 0.0),
 (4286, 0.0),
 (4285, 0.0),
 (4284, 0.0),
 (4283, 0.0),
 (4282, 0.0),
 (4281, 0.1854955583040673),
 (4280, 0.0),
 (4279, 0.0),
 (4278, 0.0),
 (4277, 0.0406725917391042),
 (4276, 0.0),
 (4275, 0.0),
 (4274, 0.0),
 (4273, 0.0),
 (4272, 0.0),
 (4271, 0.0),
 (4270, 0.0),
 (4269, 0.0),
 (4268, 0.0),
 (4267, 0.0),
 (4266, 0.028398091712353243),
 (4265, 0.0),
 (4264, 0.0),
 (4263, 0.03080205518168487),
 (4262, 0.0),
 (4261, 0.11219854269064289),
 (4260, 0.0),
 (4259, 0.0),
 (4258, 0.0),
 (4257, 0.0),
 (4256, 0.0),
 (4255, 0.0),
 (4254, 0.0),
 (4253, 0.0),
 (4252, 0.0),
 (4251, 0.0),
 (4250, 0.0),
 (4249, 0.0),
 (4248, 0.0),
 (4247, 0.027713699773684666),
 (4246, 0.0),
 (4245, 0.0),
 (4244, 0.0),
 (4243, 0.0),
 (4242, 0.0),
 (4241, 0.0),
 (4240, 0.0),
 (4239, 0.0),
 (4238, 0.0),
 (4237, 0.0),
 (4236, 0.0),
 (4235, 0.0),
 (4234, 0.0),
 (4233, 0.10592542826647522),
 (4232, 0.0),
 (4231, 0.0),
 (4230, 0.0),
 (4229, 0.0),
 (4228, 0.0),
 (4227, 0.0),
 (4226, 0.0),
 (4225, 0.0),
 (4224, 0.0),
 (4223, 0.07220404814318432),
 (4222, 0.0),
 (4221, 0.0),
 (4220, 0.0),
 (4219, 0.020207175225248872),
 (4218, 0.1531679162134967),
 (4217, 0.0),
 (4216, 0.0),
 (4215, 0.02707651805369412),
 (4214, 0.04356068418690321),
 (4213, 0.0),
 (4212, 0.0),
 (4211, 0.0),
 (4210, 0.0),
 (4209, 0.0),
 (4208, 0.0),
 (4207, 0.0),
 (4206, 0.0),
 (4205, 0.0),
 (4204, 0.0),
 (4203, 0.029934217004462485),
 (4202, 0.0),
 (4201, 0.0),
 (4200, 0.0),
 (4199, 0.0),
 (4198, 0.0),
 (4197, 0.0),
 (4196, 0.17424273674761284),
 (4195, 0.0),
 (4194, 0.07490058862731383),
 (4193, 0.0),
 (4192, 0.12903225806451615),
 (4191, 0.0),
 (4190, 0.21780342093451605),
 (4189, 0.0),
 (4188, 0.0),
 (4187, 0.0),
 (4186, 0.0),
 (4185, 0.0),
 (4184, 0.0),
 (4183, 0.0),
 (4182, 0.0),
 (4181, 0.0),
 (4180, 0.0),
 (4179, 0.13240678533309402),
 (4178, 0.0),
 (4177, 0.0),
 (4176, 0.0),
 (4175, 0.0),
 (4174, 0.0),
 (4173, 0.0),
 (4172, 0.0),
 (4171, 0.05986843400892497),
 (4170, 0.0),
 (4169, 0.0),
 (4168, 0.0),
 (4167, 0.046373889576016826),
 (4166, 0.0),
 (4165, 0.0),
 (4164, 0.0),
 (4163, 0.0),
 (4162, 0.0),
 (4161, 0.0),
 (4160, 0.0),
 (4159, 0.0),
 (4158, 0.10479250341244922),
 (4157, 0.0),
 (4156, 0.0),
 (4155, 0.0),
 (4154, 0.0),
 (4153, 0.0),
 (4152, 0.0),
 (4151, 0.0),
 (4150, 0.0),
 (4149, 0.06374957355164235),
 (4148, 0.0),
 (4147, 0.0),
 (4146, 0.13116516715679058),
 (4145, 0.0),
 (4144, 0.0),
 (4143, 0.0),
 (4142, 0.0),
 (4141, 0.0),
 (4140, 0.0),
 (4139, 0.0),
 (4138, 0.0),
 (4137, 0.0),
 (4136, 0.0),
 (4135, 0.0),
 (4134, 0.0),
 (4133, 0.0),
 (4132, 0.0),
 (4131, 0.0),
 (4130, 0.0),
 (4129, 0.0),
 (4128, 0.0),
 (4127, 0.0),
 (4126, 0.0),
 (4125, 0.0),
 (4124, 0.0),
 (4123, 0.03456505649101418),
 (4122, 0.0),
 (4121, 0.11359236684941297),
 (4120, 0.0),
 (4119, 0.0),
 (4118, 0.1016001016001524),
 (4117, 0.0),
 (4116, 0.0),
 (4115, 0.0),
 (4114, 0.0),
 (4113, 0.0),
 (4112, 0.0),
 (4111, 0.0),
 (4110, 0.03522349768381735),
 (4109, 0.0),
 (4108, 0.0),
 (4107, 0.0),
 (4106, 0.0),
 (4105, 0.0),
 (4104, 0.0),
 (4103, 0.0),
 (4102, 0.0),
 (4101, 0.0),
 (4100, 0.0),
 (4099, 0.0),
 (4098, 0.0),
 (4097, 0.0),
 (4096, 0.0),
 (4095, 0.0),
 (4094, 0.0),
 (4093, 0.0),
 (4092, 0.0),
 (4091, 0.0),
 (4090, 0.0),
 (4089, 0.0),
 (4088, 0.0),
 (4087, 0.0),
 (4086, 0.0),
 (4085, 0.0),
 (4084, 0.0),
 (4083, 0.0),
 (4082, 0.12143534814378325),
 (4081, 0.0),
 (4080, 0.0),
 (4079, 0.0),
 (4078, 0.030358837035945812),
 (4077, 0.0),
 (4076, 0.0),
 (4075, 0.10369516947304254),
 (4074, 0.0),
 (4073, 0.0),
 (4072, 0.0),
 (4071, 0.0),
 (4070, 0.0),
 (4069, 0.0),
 (4068, 0.0),
 (4067, 0.0),
 (4066, 0.0),
 (4065, 0.10955820713295535),
 (4064, 0.0),
 (4063, 0.0),
 (4062, 0.0),
 (4061, 0.026198125853112306),
 (4060, 0.0),
 (4059, 0.08466675133346034),
 (4058, 0.0),
 (4057, 0.0),
 (4056, 0.0),
 (4055, 0.0),
 (4054, 0.0),
 (4053, 0.0),
 (4052, 0.0),
 (4051, 0.0),
 (4050, 0.0),
 (4049, 0.023186944788008413),
 (4048, 0.0),
 (4047, 0.0),
 (4046, 0.18102512888056815),
 (4045, 0.0),
 (4044, 0.0),
 (4043, 0.031750031750047626),
 (4042, 0.041204282171516456),
 (4041, 0.0),
 (4040, 0.0),
 (4039, 0.0),
 (4038, 0.0),
 (4037, 0.0),
 (4036, 0.0),
 (4035, 0.0),
 (4034, 0.0),
 (4033, 0.0),
 (4032, 0.0),
 (4031, 0.0),
 (4030, 0.0),
 (4029, 0.0),
 (4028, 0.0),
 (4027, 0.0),
 (4026, 0.0),
 (4025, 0.0),
 (4024, 0.0),
 (4023, 0.0),
 (4022, 0.0),
 (4021, 0.0),
 (4020, 0.0),
 (4019, 0.0),
 (4018, 0.0),
 (4017, 0.1408939907352694),
 (4016, 0.16933350266692068),
 (4015, 0.0),
 (4014, 0.031750031750047626),
 (4013, 0.0),
 (4012, 0.0),
 (4011, 0.027389551783238836),
 (4010, 0.0),
 (4009, 0.0),
 (4008, 0.27824333745610097),
 (4007, 0.0),
 (4006, 0.0),
 (4005, 0.0),
 (4004, 0.0),
 (4003, 0.0),
 (4002, 0.0),
 (4001, 0.0),
 (4000, 0.0),
 (3999, 0.0),
 (3998, 0.0),
 (3997, 0.19596545041740515),
 (3996, 0.0),
 (3995, 0.0),
 (3994, 0.0),
 (3993, 0.0),
 (3992, 0.0),
 (3991, 0.0),
 (3990, 0.0),
 (3989, 0.0),
 (3988, 0.0),
 (3987, 0.0),
 (3986, 0.0),
 (3985, 0.0),
 (3984, 0.0),
 (3983, 0.0),
 (3982, 0.0),
 (3981, 0.0),
 (3980, 0.0),
 (3979, 0.0),
 (3978, 0.0),
 (3977, 0.0),
 (3976, 0.17424273674761284),
 (3975, 0.03666177875533833),
 (3974, 0.041204282171516456),
 (3973, 0.0),
 (3972, 0.0),
 (3971, 0.0),
 (3970, 0.16481712868606582),
 (3969, 0.0),
 (3968, 0.0),
 (3967, 0.0),
 (3966, 0.14980117725462766),
 (3965, 0.0),
 (3964, 0.0),
 (3963, 0.0),
 (3962, 0.0),
 (3961, 0.0),
 (3960, 0.0),
 (3959, 0.0),
 (3958, 0.0),
 (3957, 0.0),
 (3956, 0.030358837035945812),
 (3955, 0.0),
 (3954, 0.0),
 (3953, 0.0),
 (3952, 0.03522349768381735),
 (3951, 0.0),
 (3950, 0.0),
 (3949, 0.018624202231923414),
 (3948, 0.024906774069335898),
 (3947, 0.21780342093451605),
 (3946, 0.08843153765707637),
 (3945, 0.116543309349613),
 (3944, 0.0),
 (3943, 0.0),
 (3942, 0.0),
 (3941, 0.0),
 (3940, 0.0),
 (3939, 0.0),
 (3938, 0.0),
 (3937, 0.0),
 (3936, 0.0),
 (3935, 0.03522349768381735),
 (3934, 0.0),
 (3933, 0.0),
 (3932, 0.0),
 (3931, 0.0),
 (3930, 0.0),
 (3929, 0.0),
 (3928, 0.0),
 (3927, 0.0),
 (3926, 0.0),
 (3925, 0.0),
 (3924, 0.16395645894598823),
 (3923, 0.0),
 (3922, 0.0),
 (3921, 0.0),
 (3920, 0.0),
 (3919, 0.0),
 (3918, 0.0),
 (3917, 0.0),
 (3916, 0.16064386578049977),
 (3915, 0.0),
 (3914, 0.0),
 (3913, 0.0),
 (3912, 0.04490132550669373),
 (3911, 0.0),
 (3910, 0.0),
 (3909, 0.0),
 (3908, 0.0),
 (3907, 0.0),
 (3906, 0.0),
 (3905, 0.0),
 (3904, 0.0),
 (3903, 0.0),
 (3902, 0.0),
 (3901, 0.0),
 (3900, 0.0),
 (3899, 0.03666177875533833),
 (3898, 0.0),
 (3897, 0.0),
 (3896, 0.0),
 (3895, 0.0),
 (3894, 0.0),
 (3893, 0.0),
 (3892, 0.0),
 (3891, 0.0),
 (3890, 0.021466939537054593),
 (3889, 0.0),
 (3888, 0.0),
 (3887, 0.0),
 (3886, 0.19925419255468718),
 (3885, 0.0),
 (3884, 0.0),
 (3883, 0.0),
 (3882, 0.0),
 (3881, 0.0),
 (3880, 0.0),
 (3879, 0.0),
 (3878, 0.0),
 (3877, 0.1250610798961445),
 (3876, 0.0),
 (3875, 0.0),
 (3874, 0.0),
 (3873, 0.03592106040535498),
 (3872, 0.0),
 (3871, 0.0),
 (3870, 0.0),
 (3869, 0.0),
 (3868, 0.0),
 (3867, 0.0),
 (3866, 0.0),
 (3865, 0.0),
 (3864, 0.0),
 (3863, 0.0),
 (3862, 0.0),
 (3861, 0.1382602259640567),
 (3860, 0.09600307214746387),
 (3859, 0.0),
 (3858, 0.13116516715679058),
 (3857, 0.0),
 (3856, 0.0),
 (3855, 0.1382602259640567),
 (3854, 0.0),
 (3853, 0.0),
 (3852, 0.16481712868606582),
 (3851, 0.0),
 (3850, 0.0),
 (3849, 0.0),
 (3848, 0.0),
 (3847, 0.0),
 (3846, 0.11503946170861017),
 (3845, 0.0),
 (3844, 0.0),
 (3843, 0.0),
 (3842, 0.0),
 (3841, 0.0),
 (3840, 0.16064386578049977),
 (3839, 0.0),
 (3838, 0.048001536073731935),
 (3837, 0.19596545041740515),
 (3836, 0.0),
 (3835, 0.0),
 (3834, 0.116543309349613),
 (3833, 0.0),
 (3832, 0.0),
 (3831, 0.0),
 (3830, 0.0),
 (3829, 0.0),
 (3828, 0.0),
 (3827, 0.0),
 (3826, 0.0),
 (3825, 0.0),
 (3824, 0.0),
 (3823, 0.0),
 (3822, 0.0),
 (3821, 0.032791291789197645),
 (3820, 0.11503946170861017),
 (3819, 0.0),
 (3818, 0.0),
 (3817, 0.0),
 (3816, 0.0),
 (3815, 0.0),
 (3814, 0.0),
 (3813, 0.0),
 (3812, 0.0),
 (3811, 0.0),
 (3810, 0.0),
 (3809, 0.0),
 (3808, 0.11620402679752966),
 (3807, 0.0),
 (3806, 0.04233337566673017),
 ...]

In [59]:
l1 = sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[0:5]

In [60]:
l1

[(0, 1.0000000000000002),
 (4405, 0.3592106040535498),
 (3525, 0.29329423004270666),
 (4008, 0.27824333745610097),
 (3620, 0.23346307108777453)]

In [ ]:
string = 'rititk bhawsar'# removing the space 
string.replace(' ' ,'')

'rititkbhawsar'